.e2_2 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:1440px;
	height:5804px;
	position:absolute;
}
.e12_11 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:899px;
	height:34px;
	position:absolute;
	left:271px;
	top:432px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e12_12 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:386px;
	height:34px;
	position:absolute;
	left:528px;
	top:466px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e22_39 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:506px;
	height:34px;
	position:absolute;
	left:467px;
	top:902px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_87 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:1039px;
	height:34px;
	position:absolute;
	left:201px;
	top:1706px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_113 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:507px;
	height:34px;
	position:absolute;
	left:467px;
	top:3301px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_88 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:602px;
	height:34px;
	position:absolute;
	left:420px;
	top:1753px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_99 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:1010px;
	height:34px;
	position:absolute;
	left:216px;
	top:2249px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_100 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:797px;
	height:34px;
	position:absolute;
	left:322px;
	top:2283px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_103 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:1012px;
	height:34px;
	position:absolute;
	left:214px;
	top:2344px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_104 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:940px;
	height:34px;
	position:absolute;
	left:250px;
	top:2378px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_105 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:712px;
	height:34px;
	position:absolute;
	left:364px;
	top:2412px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_106 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:790px;
	height:34px;
	position:absolute;
	left:325px;
	top:2491px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_118 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:1070px;
	height:34px;
	position:absolute;
	left:185px;
	top:5002px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_119 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:1133px;
	height:34px;
	position:absolute;
	left:154px;
	top:5036px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_120 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:626px;
	height:34px;
	position:absolute;
	left:407px;
	top:5070px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_110 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:374px;
	height:45px;
	position:absolute;
	left:534px;
	top:3228px;
	font-family:Garamond;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e37_115 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:230px;
	height:45px;
	position:absolute;
	left:606px;
	top:4629px;
	font-family:Garamond;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e37_107 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:888px;
	height:34px;
	position:absolute;
	left:276px;
	top:2525px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_109 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:483px;
	height:27px;
	position:absolute;
	left:479px;
	top:2672px;
	font-family:Garamond;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e37_108 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:362px;
	height:34px;
	position:absolute;
	left:540px;
	top:2559px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_93 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:96px;
	height:34px;
	position:absolute;
	left:327px;
	top:2097px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_96 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:282px;
	height:34px;
	position:absolute;
	left:234px;
	top:2131px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_97 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:260px;
	height:34px;
	position:absolute;
	left:590px;
	top:2131px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_98 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:194px;
	height:34px;
	position:absolute;
	left:936px;
	top:2131px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_94 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:93px;
	height:34px;
	position:absolute;
	left:674px;
	top:2097px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e37_95 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:73px;
	height:34px;
	position:absolute;
	left:997px;
	top:2097px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_84 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:279px;
	height:45px;
	position:absolute;
	left:581px;
	top:1634px;
	font-family:Garamond;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e22_40 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:647px;
	height:34px;
	position:absolute;
	left:397px;
	top:936px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e22_41 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:736px;
	height:34px;
	position:absolute;
	left:352px;
	top:997px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e22_42 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:656px;
	height:34px;
	position:absolute;
	left:392px;
	top:1031px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e22_44 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:268px;
	height:34px;
	position:absolute;
	left:587px;
	top:1065px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e22_46 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:268px;
	height:34px;
	position:absolute;
	left:585px;
	top:1195px;
	font-family:Garamond;
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}
.e7_10 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:953px;
	height:34px;
	position:absolute;
	left:244px;
	top:398px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e7_9 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:372px;
	height:27px;
	position:absolute;
	left:535px;
	top:334px;
	font-family:Garamond;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e7_8 { 
	color:rgba(255, 255, 255, 1);
	width:446px;
	height:79px;
	position:absolute;
	left:497px;
	top:247px;
	font-family:Garamond;
	text-align:center;
	font-size:70px;
	letter-spacing:0;
}
.e2_7 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:47px;
	height:27px;
	position:absolute;
	left:872px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_6 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:68px;
	height:27px;
	position:absolute;
	left:677px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_3 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:57px;
	height:27px;
	position:absolute;
	left:500px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e26_48 { 
	width:166px;
	height:54px;
	position:absolute;
	left:13px;
	top:18px;
}
.e2_5 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:54px;
	position:absolute;
	left:67px;
	top:0px;
	font-family:Garamond;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e2_4 { 
	width:136px;
	height:46px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(./assets/deck_logo_card_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_43 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:714px;
	top:665px;
}
.e26_47 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:714px;
	top:1402px;
}
.e37_111 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:714px;
	top:2957px;
}
.e37_114 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:714px;
	top:4358px;
}
.e22_45 { 
	width:57px;
	height:46px;
	position:absolute;
	left:692px;
	top:1137px;
	background-image:url(./assets/kindpng_300669_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_90 { 
	width:181px;
	height:181px;
	position:absolute;
	left:313px;
	top:1871px;
	background-image:url(./assets/asset_8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_91 { 
	width:197px;
	height:212px;
	position:absolute;
	left:629px;
	top:1861px;
	background-image:url(./assets/asset_9_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_92 { 
	width:176px;
	height:177px;
	position:absolute;
	left:946px;
	top:1896px;
	background-image:url(./assets/asset_10_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_112 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:1186px;
	height:738px;
	position:absolute;
	left:127px;
	top:3362px;
}
.e37_117 { 
	border-radius:500px;
	width:264px;
	height:264px;
	position:absolute;
	left:588px;
	top:4706px;
	background-image:url(./assets/ellipse_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_122 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:372px;
	height:462px;
	position:absolute;
	left:535px;
	top:5228px;
}
.e37_123 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:372px;
	height:462px;
	position:absolute;
	left:99px;
	top:5228px;
}
.e37_124 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:372px;
	height:462px;
	position:absolute;
	left:971px;
	top:5228px;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
  }
  
  label {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  input {
	font-size: 24px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
	background-color: #bdbdbd;
	color: #fff;
	font-size: 24px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
  }
  
  button:hover {
	background-color: #bdbdbd96;
  }
  
.e29_64 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:1440px;
	height:2098px;
	position:absolute;
}
.e29_65 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:981px;
	height:34px;
	position:absolute;
	left:230px;
	top:363px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_67 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:506px;
	height:34px;
	position:absolute;
	left:468px;
	top:980px;
	text-align:center;
	letter-spacing:0;
}
.e48_126 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:229px;
	height:34px;
	position:absolute;
	left:606px;
	top:430px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e48_127 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:349px;
	height:34px;
	position:absolute;
	left:546px;
	top:473px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_72 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:517px;
	height:34px;
	position:absolute;
	left:462px;
	top:329px;
	font-family:Garamond;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e29_74 { 
	color:rgba(255, 255, 255, 1);
	width:318px;
	height:72px;
	position:absolute;
	left:561px;
	top:248px;
	font-family:Garamond;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e29_75 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:47px;
	height:27px;
	position:absolute;
	left:872px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e29_76 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:68px;
	height:27px;
	position:absolute;
	left:677px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e29_77 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:57px;
	height:27px;
	position:absolute;
	left:500px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e29_78 { 
	width:166px;
	height:54px;
	position:absolute;
	left:13px;
	top:18px;
}
.e29_79 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:54px;
	position:absolute;
	left:67px;
	top:0px;
	font-family:Garamond;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e29_80 { 
	width:136px;
	height:46px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(./assets/deck_logo_card_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_81 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:715px;
	top:743px;
}

.e52_128 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 25.000000409781933, 1);
	width:1440px;
	height:1672px;
	position:absolute;
}
.e52_134 { 
	color:rgba(255, 255, 255, 1);
	width:705px;
	height:72px;
	position:absolute;
	left:265px;
	top:240px;
	font-family:Garamond;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e52_135 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:47px;
	height:27px;
	position:absolute;
	left:872px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e52_136 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:68px;
	height:27px;
	position:absolute;
	left:677px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e52_137 { 
	color:rgba(208.0000028014183, 208.0000028014183, 207.00000286102295, 1);
	width:57px;
	height:27px;
	position:absolute;
	left:500px;
	top:34px;
	font-family:Garamond;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e52_138 { 
	width:166px;
	height:54px;
	position:absolute;
	left:13px;
	top:18px;
}
.e52_139 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:54px;
	position:absolute;
	left:67px;
	top:0px;
	font-family:Garamond;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e52_140 { 
	width:136px;
	height:46px;
	position:absolute;
	left:0px;
	top:4px;
	background-image:url(./assets/deck_logo_card_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e53_142 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:45px;
	position:absolute;
	left:275px;
	top:342px;
	font-family:Garamond;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e53_144 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:45px;
	position:absolute;
	left:275px;
	top:581px;
	font-family:Garamond;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e53_146 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:45px;
	position:absolute;
	left:275px;
	top:854px;
	font-family:Garamond;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e53_148 { 
	color:rgba(255, 255, 255, 1);
	width:348px;
	height:45px;
	position:absolute;
	left:275px;
	top:1059px;
	font-family:Garamond;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e53_150 { 
	color:rgba(255, 255, 255, 1);
	width:454px;
	height:45px;
	position:absolute;
	left:275px;
	top:1230px;
	font-family:Garamond;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e53_143 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:834px;
	height:136px;
	position:absolute;
	left:275px;
	top:387px;
	font-family:Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_145 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:864px;
	height:170px;
	position:absolute;
	left:275px;
	top:626px;
	font-family:Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_147 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:899px;
	height:102px;
	position:absolute;
	left:275px;
	top:899px;
	font-family:Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_149 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:887px;
	height:68px;
	position:absolute;
	left:275px;
	top:1104px;
	font-family:Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_151 { 
	color:rgba(223.125, 223.125, 223.125, 1);
	width:853px;
	height:68px;
	position:absolute;
	left:275px;
	top:1275px;
	font-family:Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e53_152 { 
	width:890px;
	height:201px;
	position:absolute;
	left:276px;
	top:1384px;
	background-image:url(./assets/roadmap_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}

